In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
dfJan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

In [4]:
dfFeb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-02.parquet')

In [5]:
dfJan.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [6]:
dfFeb.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [7]:
import sklearn

In [8]:
sklearn.__version__

'1.0.2'

In [9]:
dfJan.shape

(2964624, 19)

In [10]:
dfJan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [11]:
dfJan.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [12]:
dfJan['pickup_in_mins'] = dfJan['tpep_pickup_datetime'].dt.minute

In [13]:
dfJan['dropoff_in_mins'] = dfJan['tpep_dropoff_datetime'].dt.minute

In [14]:
dfJan.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
pickup_in_mins                    int64
dropoff_in_mins                   int64
dtype: object

In [15]:
#dfJan['duration'] = dfJan['dropoff_in_mins'] - dfJan['pickup_in_mins']

In [16]:
# Calculate the duration in minutes
dfJan['duration_minutes'] = (dfJan['tpep_dropoff_datetime'] - dfJan['tpep_pickup_datetime']).dt.total_seconds() / 60

In [17]:
dfJan['dur'] = dfJan['pickup_in_mins'] - dfJan['dropoff_in_mins']

In [18]:
dfJan.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,pickup_in_mins,dropoff_in_mins,duration_minutes,dur
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,...,0.00,0.0,1.0,22.70,2.5,0.0,57,17,19.800000,40
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,...,3.75,0.0,1.0,18.75,2.5,0.0,3,9,6.600000,-6
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,...,3.00,0.0,1.0,31.30,2.5,0.0,17,35,17.916667,-18

In [20]:
dfJan['duration_minutes'].std()

34.851053592192876

In [ ]:
dfJan['duration_minutes'].std()

In [ ]:
# Check the initial number of recordsdfJan['dur'].std()

In [22]:
# Check the initial number of records
initial_count = dfJan.shape[0]
initial_count

2964624

In [23]:
# Filter the records to keep only those where duration is between 1 and 60 minutes (inclusive)
filtered_dfJan = dfJan[dfJan['duration_minutes'].between(1, 60, inclusive='both')]

In [26]:
# Check the number of records after filtering
filtered_count = filtered_dfJan.shape[0]
filtered_count

2898906

In [36]:
# Calculate the fraction of records left after removing outliers
fraction_left = filtered_count / initial_count
percentage_left = round(fraction_left * 100) 
fraction_left
percentage_left

98

In [39]:
print(f"Initial number of records: {initial_count}")
print(f"Number of records after filtering: {filtered_count}")
print(f"Fraction of records left: {fraction_left:.2f}")
print(f"Percentage of records left is: {percentage_left}%")

Initial number of records: 2964624
Number of records after filtering: 2898906
Fraction of records left: 0.98
Percentage of records left is: 98%

In [40]:
dfJan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,pickup_in_mins,dropoff_in_mins,duration_minutes,dur
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,...,0.00,0.0,1.0,22.70,2.5,0.0,57,17,19.800000,40
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,...,3.75,0.0,1.0,18.75,2.5,0.0,3,9,6.600000,-6
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,...,3.00,0.0,1.0,31.30,2.5,0.0,17,35,17.916667,-18
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,...,2.00,0.0,1.0,17.00,2.5,0.0,36,44,8.300000,-8
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,...,3.20,0.0,1.0,16.10,2.5,0.0,46,52,6.100000,-6

In [42]:
dfJan.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
pickup_in_mins                    int64
dropoff_in_mins                   int64
duration_minutes                float64
dur                               int64
dtype: object

In [45]:
data = dfJan[['PULocationID','DOLocationID']]
data

         PULocationID  DOLocationID
0                 186            79
1                 140           236
2                 236            79
3                  79           211
4                 211           148
...               ...           ...
2964619           107           263
2964620           114           236
2964621           211            25
2964622           107            13
2964623           138            75

[2964624 rows x 2 columns]

In [46]:
#Convert the IDs to strings
data['pickup_location_id'] = data['PULocationID'].astype(str)
data['dropoff_location_id'] = data['DOLocationID'].astype(str)

/tmp/ipykernel_3331/1926505176.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['pickup_location_id'] = data['PULocationID'].astype(str)
/tmp/ipykernel_3331/1926505176.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['dropoff_location_id'] = data['DOLocationID'].astype(str)

In [50]:
#Turn the DataFrame into a list of dictionaries
dict_list = data.to_dict(orient='records')

In [52]:
from sklearn.feature_extraction import DictVectorizer

# Step 3: Fit a DictVectorizer
vectorizer = DictVectorizer(sparse=False)
vectorizer.fit(dict_list)

DictVectorizer(sparse=False)

In [56]:
# Transform the list of dictionaries into a feature matrix
feature_matrix = vectorizer.transform(dict_list)

MemoryError: Unable to allocate 11.6 GiB for an array with shape (2964624, 523) and data type float64

In [55]:
# Display the feature names and the feature matrix
feature_names = vectorizer.get_feature_names_out()
print("Feature Names:", feature_names)
print("Feature Matrix:\n", feature_matrix)

Feature Names: ['DOLocationID' 'PULocationID' 'dropoff_location_id=1'
 'dropoff_location_id=10' 'dropoff_location_id=100'
 'dropoff_location_id=101' 'dropoff_location_id=102'
 'dropoff_location_id=105' 'dropoff_location_id=106'
 'dropoff_location_id=107' 'dropoff_location_id=108'
 'dropoff_location_id=109' 'dropoff_location_id=11'
 'dropoff_location_id=111' 'dropoff_location_id=112'
 'dropoff_location_id=113' 'dropoff_location_id=114'
 'dropoff_location_id=115' 'dropoff_location_id=116'
 'dropoff_location_id=117' 'dropoff_location_id=118'
 'dropoff_location_id=119' 'dropoff_location_id=12'
 'dropoff_location_id=120' 'dropoff_location_id=121'
 'dropoff_location_id=122' 'dropoff_location_id=123'
 'dropoff_location_id=124' 'dropoff_location_id=125'
 'dropoff_location_id=126' 'dropoff_location_id=127'
 'dropoff_location_id=128' 'dropoff_location_id=129'
 'dropoff_location_id=13' 'dropoff_location_id=130'
 'dropoff_location_id=131' 'dropoff_location_id=132'
 'dropoff_location_id=133' 'dropoff_location_id=134'
 'dropoff_location_id=135' 'dropoff_location_id=136'
 'dropoff_location_id=137' 'dropoff_location_id=138'
 'dropoff_location_id=139' 'dropoff_location_id=14'
 'dropoff_location_id=140' 'dropoff_location_id=141'
 'dropoff_location_id=142' 'dropoff_location_id=143'
 'dropoff_location_id=144' 'dropoff_location_id=145'
 'dropoff_location_id=146' 'dropoff_location_id=147'
 'dropoff_location_id=148' 'dropoff_location_id=149'
 'dropoff_location_id=15' 'dropoff_location_id=150'
 'dropoff_location_id=151' 'dropoff_location_id=152'
 'dropoff_location_id=153' 'dropoff_location_id=154'
 'dropoff_location_id=155' 'dropoff_location_id=156'
 'dropoff_location_id=157' 'dropoff_location_id=158'
 'dropoff_location_id=159' 'dropoff_location_id=16'
 'dropoff_location_id=160' 'dropoff_location_id=161'
 'dropoff_location_id=162' 'dropoff_location_id=163'
 'dropoff_location_id=164' 'dropoff_location_id=165'
 'dropoff_location_id=166' 'dropoff_location_id=167'
 'dropoff_location_id=168' 'dropoff_location_id=169'
 'dropoff_location_id=17' 'dropoff_location_id=170'
 'dropoff_location_id=171' 'dropoff_location_id=172'
 'dropoff_location_id=173' 'dropoff_location_id=174'
 'dropoff_location_id=175' 'dropoff_location_id=176'
 'dropoff_location_id=177' 'dropoff_location_id=178'
 'dropoff_location_id=179' 'dropoff_location_id=18'
 'dropoff_location_id=180' 'dropoff_location_id=181'
 'dropoff_location_id=182' 'dropoff_location_id=183'
 'dropoff_location_id=184' 'dropoff_location_id=185'
 'dropoff_location_id=186' 'dropoff_location_id=187'
 'dropoff_location_id=188' 'dropoff_location_id=189'
 'dropoff_location_id=19' 'dropoff_location_id=190'
 'dropoff_location_id=191' 'dropoff_location_id=192'
 'dropoff_location_id=193' 'dropoff_location_id=194'
 'dropoff_location_id=195' 'dropoff_location_id=196'
 'dropoff_location_id=197' 'dropoff_location_id=198'
 'dropoff_location_id=2' 'dropoff_location_id=20'
 'dropoff_location_id=200' 'dropoff_location_id=201'
 'dropoff_location_id=202' 'dropoff_location_id=203'
 'dropoff_location_id=204' 'dropoff_location_id=205'
 'dropoff_location_id=206' 'dropoff_location_id=207'
 'dropoff_location_id=208' 'dropoff_location_id=209'
 'dropoff_location_id=21' 'dropoff_location_id=210'
 'dropoff_location_id=211' 'dropoff_location_id=212'
 'dropoff_location_id=213' 'dropoff_location_id=214'
 'dropoff_location_id=215' 'dropoff_location_id=216'
 'dropoff_location_id=217' 'dropoff_location_id=218'
 'dropoff_location_id=219' 'dropoff_location_id=22'
 'dropoff_location_id=220' 'dropoff_location_id=221'
 'dropoff_location_id=222' 'dropoff_location_id=223'
 'dropoff_location_id=224' 'dropoff_location_id=225'
 'dropoff_location_id=226' 'dropoff_location_id=227'
 'dropoff_location_id=228' 'dropoff_location_id=229'
 'dropoff_location_id=23' 'dropoff_location_id=230'
 'dropoff_location_id=231' 'dropoff_location_id=232'
 'dropoff_location_id=233' 'dropoff_location_id=234'
 'dropoff_location_id=235' 'dropoff_location_id=236'
 'dropoff_location_id=237' 'dropoff_location_id=238'
 'dropoff_location_id=239' 'dropoff_location_id=24'
 'dropoff_location_id=240' 'dropoff_location_id=241'
 'dropoff_location_id=242' 'dropoff_location_id=243'
 'dropoff_location_id=244' 'dropoff_location_id=245'
 'dropoff_location_id=246' 'dropoff_location_id=247'
 'dropoff_location_id=248' 'dropoff_location_id=249'
 'dropoff_location_id=25' 'dropoff_location_id=250'
 'dropoff_location_id=251' 'dropoff_location_id=252'
 'dropoff_location_id=253' 'dropoff_location_id=254'
 'dropoff_location_id=255' 'dropoff_location_id=256'
 'dropoff_location_id=257' 'dropoff_location_id=258'
 'dropoff_location_id=259' 'dropoff_location_id=26'
 'dropoff_location_id=260' 'dropoff_location_id=261'
 'dropoff_location_id=262' 'dropoff_location_id=263'
 'dropoff_location_id=264' 'dropoff_location_id=265'
 'dropoff_location_id=27' 'dropoff_location_id=28'
 'dropoff_location_id=29' 'dropoff_location_id=3' 'dropoff_location_id=30'
 'dropoff_location_id=31' 'dropoff_location_id=32'
 'dropoff_location_id=33' 'dropoff_location_id=34'
 'dropoff_location_id=35' 'dropoff_location_id=36'
 'dropoff_location_id=37' 'dropoff_location_id=38'
 'dropoff_location_id=39' 'dropoff_location_id=4' 'dropoff_location_id=40'
 'dropoff_location_id=41' 'dropoff_location_id=42'
 'dropoff_location_id=43' 'dropoff_location_id=44'
 'dropoff_location_id=45' 'dropoff_location_id=46'
 'dropoff_location_id=47' 'dropoff_location_id=48'
 'dropoff_location_id=49' 'dropoff_location_id=5' 'dropoff_location_id=50'
 'dropoff_location_id=51' 'dropoff_location_id=52'
 'dropoff_location_id=53' 'dropoff_location_id=54'
 'dropoff_location_id=55' 'dropoff_location_id=56'
 'dropoff_location_id=57' 'dropoff_location_id=58'
 'dropoff_location_id=59' 'dropoff_location_id=6' 'dropoff_location_id=60'
 'dropoff_location_id=61' 'dropoff_location_id=62'
 'dropoff_location_id=63' 'dropoff_location_id=64'
 'dropoff_location_id=65' 'dropoff_location_id=66'
 'dropoff_location_id=67' 'dropoff_location_id=68'
 'dropoff_location_id=69' 'dropoff_location_id=7' 'dropoff_location_id=70'
 'dropoff_location_id=71' 'dropoff_location_id=72'
 'dropoff_location_id=73' 'dropoff_location_id=74'
 'dropoff_location_id=75' 'dropoff_location_id=76'
 'dropoff_location_id=77' 'dropoff_location_id=78'
 'dropoff_location_id=79' 'dropoff_location_id=8' 'dropoff_location_id=80'
 'dropoff_location_id=81' 'dropoff_location_id=82'
 'dropoff_location_id=83' 'dropoff_location_id=84'
 'dropoff_location_id=85' 'dropoff_location_id=86'
 'dropoff_location_id=87' 'dropoff_location_id=88'
 'dropoff_location_id=89' 'dropoff_location_id=9' 'dropoff_location_id=90'
 'dropoff_location_id=91' 'dropoff_location_id=92'
 'dropoff_location_id=93' 'dropoff_location_id=94'
 'dropoff_location_id=95' 'dropoff_location_id=96'
 'dropoff_location_id=97' 'dropoff_location_id=98'
 'dropoff_location_id=99' 'pickup_location_id=1' 'pickup_location_id=10'
 'pickup_location_id=100' 'pickup_location_id=101'
 'pickup_location_id=102' 'pickup_location_id=105'
 'pickup_location_id=106' 'pickup_location_id=107'
 'pickup_location_id=108' 'pickup_location_id=109' 'pickup_location_id=11'
 'pickup_location_id=111' 'pickup_location_id=112'
 'pickup_location_id=113' 'pickup_location_id=114'
 'pickup_location_id=115' 'pickup_location_id=116'
 'pickup_location_id=117' 'pickup_location_id=118'
 'pickup_location_id=119' 'pickup_location_id=12' 'pickup_location_id=120'
 'pickup_location_id=121' 'pickup_location_id=122'
 'pickup_location_id=123' 'pickup_location_id=124'
 'pickup_location_id=125' 'pickup_location_id=126'
 'pickup_location_id=127' 'pickup_location_id=128'
 'pickup_location_id=129' 'pickup_location_id=13' 'pickup_location_id=130'
 'pickup_location_id=131' 'pickup_location_id=132'
 'pickup_location_id=133' 'pickup_location_id=134'
 'pickup_location_id=135' 'pickup_location_id=136'
 'pickup_location_id=137' 'pickup_location_id=138'
 'pickup_location_id=139' 'pickup_location_id=14' 'pickup_location_id=140'
 'pickup_location_id=141' 'pickup_location_id=142'
 'pickup_location_id=143' 'pickup_location_id=144'
 'pickup_location_id=145' 'pickup_location_id=146'
 'pickup_location_id=147' 'pickup_location_id=148'
 'pickup_location_id=149' 'pickup_location_id=15' 'pickup_location_id=150'
 'pickup_location_id=151' 'pickup_location_id=152'
 'pickup_location_id=153' 'pickup_location_id=154'
 'pickup_location_id=155' 'pickup_location_id=156'
 'pickup_location_id=157' 'pickup_location_id=158'
 'pickup_location_id=159' 'pickup_location_id=16' 'pickup_location_id=160'
 'pickup_location_id=161' 'pickup_location_id=162'
 'pickup_location_id=163' 'pickup_location_id=164'
 'pickup_location_id=165' 'pickup_location_id=166'
 'pickup_location_id=167' 'pickup_location_id=168'
 'pickup_location_id=169' 'pickup_location_id=17' 'pickup_location_id=170'
 'pickup_location_id=171' 'pickup_location_id=172'
 'pickup_location_id=173' 'pickup_location_id=174'
 'pickup_location_id=175' 'pickup_location_id=176'
 'pickup_location_id=177' 'pickup_location_id=178'
 'pickup_location_id=179' 'pickup_location_id=18' 'pickup_location_id=180'
 'pickup_location_id=181' 'pickup_location_id=182'
 'pickup_location_id=183' 'pickup_location_id=184'
 'pickup_location_id=185' 'pickup_location_id=186'
 'pickup_location_id=187' 'pickup_location_id=188'
 'pickup_location_id=189' 'pickup_location_id=19' 'pickup_location_id=190'
 'pickup_location_id=191' 'pickup_location_id=192'
 'pickup_location_id=193' 'pickup_location_id=194'
 'pickup_location_id=195' 'pickup_location_id=196'
 'pickup_location_id=197' 'pickup_location_id=198'
 'pickup_location_id=199' 'pickup_location_id=2' 'pickup_location_id=20'
 'pickup_location_id=200' 'pickup_location_id=201'
 'pickup_location_id=202' 'pickup_location_id=203'
 'pickup_location_id=204' 'pickup_location_id=205'
 'pickup_location_id=206' 'pickup_location_id=207'
 'pickup_location_id=208' 'pickup_location_id=209' 'pickup_location_id=21'
 'pickup_location_id=210' 'pickup_location_id=211'
 'pickup_location_id=212' 'pickup_location_id=213'
 'pickup_location_id=214' 'pickup_location_id=215'
 'pickup_location_id=216' 'pickup_location_id=217'
 'pickup_location_id=218' 'pickup_location_id=219' 'pickup_location_id=22'
 'pickup_location_id=220' 'pickup_location_id=221'
 'pickup_location_id=222' 'pickup_location_id=223'
 'pickup_location_id=224' 'pickup_location_id=225'
 'pickup_location_id=226' 'pickup_location_id=227'
 'pickup_location_id=228' 'pickup_location_id=229' 'pickup_location_id=23'
 'pickup_location_id=230' 'pickup_location_id=231'
 'pickup_location_id=232' 'pickup_location_id=233'
 'pickup_location_id=234' 'pickup_location_id=235'
 'pickup_location_id=236' 'pickup_location_id=237'
 'pickup_location_id=238' 'pickup_location_id=239' 'pickup_location_id=24'
 'pickup_location_id=240' 'pickup_location_id=241'
 'pickup_location_id=242' 'pickup_location_id=243'
 'pickup_location_id=244' 'pickup_location_id=245'
 'pickup_location_id=246' 'pickup_location_id=247'
 'pickup_location_id=248' 'pickup_location_id=249' 'pickup_location_id=25'
 'pickup_location_id=250' 'pickup_location_id=251'
 'pickup_location_id=252' 'pickup_location_id=253'
 'pickup_location_id=254' 'pickup_location_id=255'
 'pickup_location_id=256' 'pickup_location_id=257'
 'pickup_location_id=258' 'pickup_location_id=259' 'pickup_location_id=26'
 'pickup_location_id=260' 'pickup_location_id=261'
 'pickup_location_id=262' 'pickup_location_id=263'
 'pickup_location_id=264' 'pickup_location_id=265' 'pickup_location_id=27'
 'pickup_location_id=28' 'pickup_location_id=29' 'pickup_location_id=3'
 'pickup_location_id=30' 'pickup_location_id=31' 'pickup_location_id=32'
 'pickup_location_id=33' 'pickup_location_id=34' 'pickup_location_id=35'
 'pickup_location_id=36' 'pickup_location_id=37' 'pickup_location_id=38'
 'pickup_location_id=39' 'pickup_location_id=4' 'pickup_location_id=40'
 'pickup_location_id=41' 'pickup_location_id=42' 'pickup_location_id=43'
 'pickup_location_id=44' 'pickup_location_id=45' 'pickup_location_id=46'
 'pickup_location_id=47' 'pickup_location_id=48' 'pickup_location_id=49'
 'pickup_location_id=50' 'pickup_location_id=51' 'pickup_location_id=52'
 'pickup_location_id=53' 'pickup_location_id=54' 'pickup_location_id=55'
 'pickup_location_id=56' 'pickup_location_id=57' 'pickup_location_id=58'
 'pickup_location_id=59' 'pickup_location_id=6' 'pickup_location_id=60'
 'pickup_location_id=61' 'pickup_location_id=62' 'pickup_location_id=63'
 'pickup_location_id=64' 'pickup_location_id=65' 'pickup_location_id=66'
 'pickup_location_id=67' 'pickup_location_id=68' 'pickup_location_id=69'
 'pickup_location_id=7' 'pickup_location_id=70' 'pickup_location_id=71'
 'pickup_location_id=72' 'pickup_location_id=73' 'pickup_location_id=74'
 'pickup_location_id=75' 'pickup_location_id=76' 'pickup_location_id=77'
 'pickup_location_id=78' 'pickup_location_id=79' 'pickup_location_id=8'
 'pickup_location_id=80' 'pickup_location_id=81' 'pickup_location_id=82'
 'pickup_location_id=83' 'pickup_location_id=84' 'pickup_location_id=85'
 'pickup_location_id=86' 'pickup_location_id=87' 'pickup_location_id=88'
 'pickup_location_id=89' 'pickup_location_id=9' 'pickup_location_id=90'
 'pickup_location_id=91' 'pickup_location_id=92' 'pickup_location_id=93'
 'pickup_location_id=94' 'pickup_location_id=95' 'pickup_location_id=96'
 'pickup_location_id=97' 'pickup_location_id=98']

NameError: name 'feature_matrix' is not defined